form .avatar {
    width: 75px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.pub-image .container-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .container-avatar img,
.pub-image .container-avatar img {
    height: 100%;
}

.pub-image {
    margin-bottom: 25px;
}

.pub-image .container-avatar {
    float: left;
    margin-right: 15px;
}

.pub-image .data-user {
    font-weight: bold;
    line-height: 35px;
}

.pub-image .data-user a {
    color: #444;
    text-decoration: none;
}

.pub-image .data-user a:hover {
    text-decoration: underline;
}

.pub-image .nickname {
    color: gray;
}

.image-container {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-detail {
    height: 500px;
}

.image-container img {
    width: 100%;
}

.pub-image .card-body {
    padding: 0px;
}

.pub-image .description {
    padding: 15px 15px 0px 15px;
}

.btn-comments {
    margin: 20px;
    margin-top: 0;
    margin-left: 0px;
}

.likes {
    float: left;
    padding-left: 16px;
    padding-right: 15px;
}

.likes img {
    width: 20px;
}

.pub-image-detail .comments {
    padding: 20px;
}

.number-likes {
    color: gray;
    font-size: 14px;
}

.btn-like,
.btn-dislike {
    cursor: pointer;
}

.profile-user {
    height: 200px;
    margin-bottom: 40px;
}

.profile-user .container-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    float: left;
}

.profile-user .container-avatar img {
    width: 100%;
    height: 100%;
}

.profile-user .user-info {
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

